<div>
    <div class="form">
        <label for="">email</label>
        <input type="email"[(ngModel)]="user.email" >
        <label for="">password</label>
        <input type="password"[(ngModel)]="user.password" >

        <button (click)="register()">submit</button>
        <!-- <p>{{name}}</p> -->
    </div>

    <!-- <div *ngIf="displayname; then trueblock; else elseblock">

    </div>


    <ng-template #trueblock>
        reagegae
    </ng-template>
    <ng-template #elseblock>
        elseblock
    </ng-template>


    <div [ngSwitch]="switchname">
        <div *ngSwitchCase="'1'">1</div>
        <div *ngSwitchCase="'2'">2</div>
        <div *ngSwitchCase="'3'">3</div>     
    </div> -->
</div>